@page "/home"
@page "/"
<MudContainer Style="margin-left: 10%;align-content: center;display: inline-block; top: 0; bottom: 0; left: 0; right: 0; margin: auto; ">
    <MudPaper>
         <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2" Class="mt-4">BP Applicatie</MudText>
            <MudText  Align="Align.Center"  Typo="Typo.subtitle1" Class="smaller">
                Gebruik het menu aan de linkerkant om een account aan te maken en/of in te loggen.<br />
                Vanaf je ingelogd bent kan je andere profielen bekijken, iemand "liken" en naar elkaar berichten sturen.<br/>
                Ga zeker eerst naar "Mijn Profiel" om wat meer informatie over jezelf te geven!<br/>
                Feedback op de website kan je achterlaten via dit <a style="text-decoration:underline" href="https://forms.gle/mMyZh19C2CH1oG8X6">formulier</a>.<br/>
                Je gegevens worden niet bijgehouden of gebruikt.
            </MudText>
        </MudItem>
    </MudGrid>
    </MudPaper>
</MudContainer>